.chat-container {
  @apply overflow-hidden p-3;
  width: 100vw;
  height: 100vh;

  .msg-wrap {
    @apply h-3/4 p-2 overflow-x-hidden overflow-y-auto;

  }

  .input-wrap {
    @apply h-1/4 relative;
    .new-msg {
      @apply absolute cursor-pointer;
      top: -35px;
      right: 35px;
    }
  }
}
