.input-container {
  @apply flex w-full h-full m-1 p-2;
  .input-size {
    @apply w-full h-full;
  }
  textarea {
    background: transparent!important;
    color: #fff;
  }
}
textarea:focus {
  outline: none !important;
}
