.msg-item_wrap {
  @apply flex w-full mt-2;
  .avatar {
    @apply bg-amber-400 rounded;
    width: 40px;
    height: 40px;
  }
  .content {
    @apply ml-2 mr-2;
    max-width: 80%;
    .name {
      @apply h-4 text-white;
    }
    .msg {
      @apply mt-1 p-2 rounded bg-gray-200;
    }
    .self {
      @apply bg-green-300
    }
  }
}
